@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

#root {
	width: 100%;
}

* {
	box-sizing: border-box;
}

/* 


        VARIABLES


*/

:root {
	--navbar-height: 50px;
	--scrolling-text-height: 45px;
	--max-page-height: calc(100vh - 82px);
}

/* 


        MARQUEE


*/

.marquee,
.topText {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: var(--scrolling-text-height);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 10px 0px #00000022;
	background-color: #fff500;
}

.marquee .marquee-element {
	height: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: scroll-text 15s linear infinite;
}

.marquee .marquee-element p,
.topText h2 {
	height: inherit;
	margin: 0;
	padding: 0 20px;
	display: flex;
	align-items: center;
	font-size: calc(var(--scrolling-text-height) * 0.42);
	font-weight: bold;
	font-family: 'Poppins';
	font-weight: 400;
	color: #333;
	white-space: nowrap;
}

.topText {
	justify-content: space-between;
	padding: 10px;
}

.topText > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.topText img {
	height: 100%;
	filter: brightness(0);
}

.topText h2 {
	font-size: calc(var(--scrolling-text-height) * 0.4);
	font-weight: 700;
	padding: 0;
	height: 100%;
}

@keyframes scroll-text {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

/* 


        NAVBAR


*/

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transform: translateY(65px);
	align-items: center;
	transition: background 50ms cubic-bezier(0.5, 0.25, 0.5, 0.75);
}

.navbar-scroll {
	position: fixed;
	background: white;
	transform: translateY(0);
	box-shadow: 0 0 10px 0px #00000022;
}

@keyframes navbar {
	0% {
		top: var(--scrolling-text-height);
		background: none;
	}
	100% {
		top: 0;
		background: #ffffff;
	}
}

.navbar ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.navbar ul li {
	margin: 0 10px;
}

.navbar ul li a {
	height: var(--navbar-height);
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins';
	font-weight: 500;
	color: #333;
	text-decoration: none;
	border-radius: 9px;
	background-color: #f8f8f8;
	transition: all 0.2s ease;
}

.navbar ul li a:hover {
	box-shadow: 4px 4px 10px 0px #00000011;
	background-color: rgba(255, 250, 100, 0.878);
}

.navbar ul li a.focused {
	box-shadow: 4px 4px 10px 0px #00000020;
	background-color: #fff500;
}

.not-focused {
	background-color: #d7d7d7;
}

/*
    
            FOOTER
    
*/

.footer {
	height: 490px;
	background-color: #303030;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.footer .footer-left,
.footer .footer-right {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer .footer-left {
	width: 65%;
}

.footer .footer-logo {
	width: clamp(280px, 50vw, 660px);
}

.footer h2,
.footer h3,
.footer h4 {
	font-family: 'Poppins';
	color: #fff;
}

.footer h2 {
	font-size: 32px;
}

.footer h3 {
	font-size: 24px;
	margin: 0;
}

.footer h4 {
	font-size: 20px;
	margin: 0;
}

.footer-links {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.footer-about-us,
.footer-buisness,
.footer-policy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-about-us a,
.footer-buisness a,
.footer-policy a {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 16px;
	color: #fff;
}

.footer .footer-right {
	width: 45%;
	padding: 30px 20px;
	justify-content: space-around;
}

.footer .footer-right .copyright {
	transform: translateY(-35px);
	font-family: 'Inter';
}

.footer .footer-right .our-deets {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.footer .footer-right .our-deets-left,
.footer .footer-right .our-deets-right {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer .footer-right .our-deets-left {
	text-align: end;
}

.footer .footer-right .our-deets-left h2 {
	margin: 16px 0;
}

.footer .footer-right .our-deets-right > * {
	flex: 1;
	display: flex;
	align-items: center;
}

.footer .footer-right .footer-icons {
	display: flex;
	gap: 10px;
}

.footer .footer-right .footer-icon-insta,
.footer .footer-right .footer-icon-linkedin {
	height: 45px;
	width: 45px;
	background-size: cover;
	transition: background 0.2s ease;
}

.footer .footer-right .footer-icon-insta {
	background: url('/svgs/insta-g.svg');
}

.footer .footer-right .footer-icon-insta:hover {
	background: url('/svgs/insta.svg');
}

.footer .footer-right .footer-icon-linkedin {
	background: url('/svgs/linkedin-g.svg');
}

.footer .footer-right .footer-icon-linkedin:hover {
	background: url('/svgs/linkedin.svg');
}

/*

        LANDING PAGE

*/

.lp-signup {
	width: 100%;
	/* padding-top: calc(var(--navbar-height) + 10px); */
	padding-bottom: 5vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.lp-signup .lp-signup-bg {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0.08;
	background-image: url('/images/lp-signup-bg.webp');
	background-size: cover;
	background-position-x: -700px;
	background-position-y: 10px;
	animation: lucknow-animated 25s linear infinite alternate;
	z-index: -1;
}

@keyframes lucknow-animated {
	0% {
		background-position-x: -700px;
	}
	50% {
		background-position-x: -675px;
	}
	100% {
		background-position-x: -725px;
	}
}

.lp-signup h1 {
	margin: 20px 0;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 30px;
	color: #333;
}

.lp-signup .lp-signup-logo {
	height: clamp(125px, 14vw, 170px);
	margin: 40px 18%;
}

.lp-signup h3 {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 20px;
	color: #333;
}

.lp-signup a {
	width: 260px;
	height: 60px;
	margin: 20px 0;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins';
	font-weight: 500;
	color: #333;
	text-decoration: none;
	background-color: #fff500;
}

.lp-features {
	height: calc(var(--max-page-height) * 3);
	width: 100%;
}

.lp-features > * {
	height: var(--max-page-height);
	width: 100%;
	display: flex;
	flex-direction: row;
}

.feature-1 > *,
.feature-2 > *,
.feature-3 > * {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lp-features .feature-1-left {
	background-color: #fdffa4;
}

.lp-features .feature-1-left > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	/* place-content: center; */
	gap: 25px;
}

.lp-features .feature-1-left img {
	height: 30vw;
	max-height: 240px;
	border-radius: 15px;
	object-fit: cover;
	object-position: top;
	position: relative;
	z-index: 2;
	transition: all 0.2s ease-in-out;
}

.lp-features .feature-1-left img:hover {
	z-index: 1;
	transform: translateY(-15px) scale(1.05);
	box-shadow: 0 0 15px 16px #ffffffd6;
}

.lp-features .feature-1-right,
.lp-features .feature-2-left,
.lp-features .feature-3-right {
	background-color: #fff500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins';
}

.lp-features .feature-1-right > div,
.lp-features .feature-2-left > div,
.lp-features .feature-3-right > div {
	width: 80%;
}

.lp-features h2 {
	font-size: 35px;
	margin: 0%;
}

.lp-features h4 {
	font-size: 24px;
	font-weight: 400;
	margin-top: 5px;
}

.lp-features .feature-2-right {
	background-color: #fdffa4;
}

.lp-features .feature-3-left {
	background-color: #fdffa4;
}

.lp-features .feature-3 img,
.lp-features .feature-2 img {
	height: 80%;
}

.lp-lucknow {
	height: var(--max-page-height);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lp-lucknow h1 {
	margin: 0;
	font-family: 'Volkhov';
	font-size: 50px;
	color: #000000;
}

.lp-lucknow h4 {
	margin: 10px 10px 30px 10px;
	font-family: 'Poppins';
	font-size: 24px;
	font-weight: 300;
	color: #090909;
}

.lp-lucknow .images {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

.lp-lucknow .images > img {
	height: 32vw;
	max-height: 60vh;
	border-radius: 30px;
	object-fit: cover;
	transition: all 0.2s ease-in-out;
}

.lp-lucknow .images > img:hover {
	transform: translateY(-15px) scale(1.05);
}

.lp-sign-up {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff500;
}

.lp-sign-up h1 {
	margin: 10px;
	margin-bottom: 0;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 400;
	color: #333;
	text-decoration: underline #333;
}

.lp-sign-up h4 {
	margin: 10px;
	font-family: 'Volkhov';
	font-weight: 400;
	font-size: 32px;
	color: #333;
}

.lp-kandid-squad > h1 {
	font-family: 'Volkhov';
	font-size: 40px;
	color: #333;
	margin: 0;
	margin-top: 30px;
}

.lp-kandid-squad > h4 {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 25px;
	margin: 0;
	color: #333;
}

.lp-kandid-squad {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lp-kandid-squad .squad {
	margin: 30px 10vw;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 50px;
	gap: 40px;
	background: #fff500;
}

.lp-kandid-squad .squad .kandisquad {
	background: #ffffff;
	border-radius: 30px;
	padding: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.lp-kandid-squad .squad .kandisquad h2 {
	font-family: 'Volkhov';
	font-size: 30px;
	color: #333;
	margin-bottom: 0;
}

.lp-kandid-squad .squad .kandisquad h3 {
	margin-top: 5px;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 18px;
	color: #333;
}

.lp-kandid-squad .squad img {
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
}

.lp-app-ui {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 90%;
	max-width: 380px;
}

.lp-app-ui .delivery-address {
	height: 65px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: white;
	border-radius: 30px;
}

.lp-app-ui .delivery-address img {
	height: 60%;
}

.lp-app-ui .delivery-address h2 {
	font-family: 'Poppins';
	font-size: 18px;
}

.lp-app-ui .delivery-address h4 {
	font-family: 'Inter';
	color: #353535;
	font-size: 14px;
	margin: 0;
}

.lp-app-ui .product {
	background: white;
	width: 100%;
	height: 80px;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	overflow: hidden;
	font-family: 'Poppins';
}

.lp-app-ui .product > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.lp-app-ui .product h2 {
	font-size: 10px;
	margin: 0;
}

.lp-app-ui .product h4 {
	font-size: 8px;
	font-weight: 300;
	color: #4a4a4a;
	margin: 0;
}

.lp-app-ui .product h6 {
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.lp-app-ui .product h6 .dp {
	text-decoration: line-through;
	color: #666666;
}

.lp-app-ui .product h6 .d {
	color: #f2bd26;
	font-weight: 500;
}

.lp-app-ui .product img {
	height: 100%;
	/* border-radius: 30px; */
	object-fit: cover;
	align-self: flex-start;
}

.lp-app-ui .product .btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.lp-app-ui .product .btn {
	height: 18px;
	width: 80px;
	font-family: sans-serif;
	font-size: 10px;
	padding: 0 5px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 3px;
	background: white;
}

.lp-app-ui .delivery-options {
	width: 100%;
	border-radius: 20px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lp-app-ui .delivery-options h1 {
	margin: 0;
	font-family: 'Poppins';
	font-size: 15px;
	display: flex;
	padding: 5px 18px;
	border-bottom: 1px solid #e7e6e6;
}

.lp-app-ui .delivery-options .delivery-options-deets {
	display: flex;
	flex-direction: column;
	padding: 12px;
	border: 1.5px solid #e7e6e6;
	border-radius: 20px;
	margin: 12px 20px;
}

.lp-app-ui .delivery-options .delivery-options-deets h3 {
	font-family: 'Poppins';
	font-size: 12px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lp-app-ui .delivery-options .delivery-options-deets h3 img {
	height: 12px;
}

.lp-app-ui .delivery-options .delivery-options-deets ul {
	margin: 0;
	padding-left: 20px;
}

.lp-app-ui .delivery-options .delivery-options-deets ul li::marker {
	color: #333;
}

.lp-app-ui .delivery-options .delivery-options-deets ul h4 {
	font-family: 'Poppins';
	font-size: 10px;
	margin: 0;
}

.lp-app-ui .delivery-options .delivery-options-deets .kan-extra {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
}

.lp-app-ui .delivery-options .delivery-options-deets .kan-extra h5 {
	margin: 0;
	font-family: 'Poppins';
	font-size: 12px;
	font-weight: 600;
	color: #358500;
}

.lp-app-ui .delivery-options .delivery-options-deets .kan-extra h6 {
	margin: 0;
	font-family: 'Poppins';
	font-size: 12px;
	font-weight: 600;
	color: #666666;
}

.lp-app-ui .bill-details {
	width: 100%;
	border-radius: 20px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lp-app-ui .bill-details h1 {
	margin: 0;
	font-family: 'Poppins';
	font-size: 15px;
	font-weight: 700;
	display: flex;
	padding: 5px 18px;
	border-bottom: 1px solid #e7e6e6;
}

.lp-app-ui .bill-details > div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 12px;
}

.lp-app-ui .bill-details div h2 {
	font-family: 'Poppins';
	font-size: 12px;
	font-weight: 500;
	color: #666666;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lp-app-ui .bill-details div .divider {
	height: 2px;
	width: 99%;
	margin: 5px 0;
	background-image: linear-gradient(
		to right,
		rgba(143, 143, 143, 0.497) 33%,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: bottom;
	background-size: 8px 2px;
	background-repeat: repeat-x;
}

.lp-app-ui .bill-details h3 {
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	background: #f6f6f6;
	padding: 15px;
	margin: 0;
	border-radius: 0px 0px 20px 20px;
}

.lp-app-ui .bill-details h4 {
	color: #fff;
	margin: 0;
	margin-top: 10px;
	background: black;
	text-align: center;
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 14px;
	padding: 15px;
	border-radius: 20px;
}

/*
    
            CONTACT US
    
*/

.contact-us {
	padding-top: calc(var(--navbar-height) + var(--scrolling-text-height) + 70px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h1 {
		font-family: 'Volkhov';
		font-size: 40px;
		color: #333;
		margin: 0;
	}

	& h4 {
		font-family: 'Poppins';
		font-weight: 400;
		font-size: 20px;
		color: #333;
		margin: 0;
		margin-top: 5px;
		text-align: center;
	}

	& form {
		margin: 5vw;
		margin-top: 20px;
		width: 70%;
		max-width: 500px;
		padding: clamp(20px, 10vw, 60px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #fff500;
		font-family: 'Poppins';
		border-radius: 30px;
	}

	& form label {
		align-self: flex-start;
	}

	& form input,
	& form textarea {
		width: 100%;
		/* max-width: 400px; */
		height: 40px;
		margin: 10px;
		padding: 10px;
		border-radius: 8px;
		border: 0;
		font-family: 'Poppins';
		font-size: 16px;
	}

	& form input:focus {
		outline: 0;
		border: 1.5px solid #333;
	}

	& form textarea {
		height: 120px;
	}

	& form button {
		width: 200px;
		height: 50px;
		margin: 10px;
		margin-top: 20px;
		border-radius: 25px;
		font-family: 'Poppins';
		font-size: 20px;
		color: #fff;
		background: #333;
		border: none;
	}
}

.user-sign-up {
	padding-top: calc(var(--navbar-height) + var(--scrolling-text-height) + 70px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& form {
		margin: 5vw;
		margin-top: 20px;
		width: 70%;
		max-width: 500px;
		padding: clamp(20px, 10vw, 60px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #fff500;
		font-family: 'Poppins';
		border-radius: 30px;
	}

	& form label {
		align-self: flex-start;
	}

	& form input,
	& form textarea {
		width: 100%;
		/* max-width: 400px; */
		height: 40px;
		margin: 10px;
		padding: 10px;
		border-radius: 8px;
		border: 0;
		font-family: 'Poppins';
		font-size: 16px;
	}

	& form input:focus {
		outline: 0;
		border: 1.5px solid #333;
	}

	& form textarea {
		height: 120px;
	}

	& form button {
		width: 200px;
		height: 50px;
		margin: 10px;
		margin-top: 20px;
		border-radius: 25px;
		font-family: 'Poppins';
		font-size: 20px;
		color: #fff;
		background: #333;
		border: none;
	}
}
