.about-us {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	& span {
		font-weight: 700;
	}

	& h2 {
		margin-bottom: 10px;
	}

	& h1 {
		font-family: 'Poppins';
		font-size: 40px;
		color: #333;
		margin: 0px;
	}

	& .text {
		margin-top: 1vw;
		font-size: 18px;
		margin-bottom: 4vw;
		width: 70%;
		max-width: 1300px;
		padding: 20px;
		border-radius: 30px;
		box-shadow: 0 0 10px 0px #00000022;
		font-family: 'Poppins';
	}
}

@media (width < 600px) {
	.about-us .text {
		width: 90%;
	}
}
